@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color-green: #6fb048;
    --theme-color-grey: #83a7a5;
    --theme-color-dark-grey: #697f7f;
    --theme-font-color: #0f5f5d;
    --bg-color: #eef1ec;
    --theme-white: #bec8c9;
    --theme-font-style2: "Montserrat", sans-serif;
    --theme-font-style: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* =========================== UTILITIES ===================== */
.container { max-width: 1200px; width: 100%; margin: 0 auto; padding: 0 15px; }
.container-fluid { max-width: 1200px; width: 100%; margin: 0 auto; }
.row { display: flex; flex-wrap: wrap; }
.justify-content-center { justify-content: center; }
.justify-content-left { justify-content: left; }
.justify-content-right { justify-content: right; }
.justify-content-around { justify-content: space-around; }
.justify-content-between { justify-content: space-between; }
.align-items-center { align-items: center; }
.align-items-start { align-items: start; }
.align-items-end { align-items: end; }
.d-flex { display: flex; }
.col-10 { width: 10%; } .col-20 { width: 20%; } .col-30 { width: 30%; } .col-40 { width: 40%; } .col-50 { width: 50%; } .col-60 { width: 60%; } .col-70 { width: 70%; } .col-80 { width: 80%; } 
.img-fluid { height: auto; width: 100%; }
.text-green { color: var(--theme-color-green); }
.text-grey { color: var(--theme-color-grey); }
.text-white { color: white; }
.text-black { color: black; }
.bg-grey-theme { color: var(--bg-color); }
.text-decoration-none { text-decoration: none; }
.list-unstyled { list-style: none; }
.pe-2 { padding-right: 5px; } .pe-3 { padding-right: 15px; } .ps-3 { padding-left: 15px; } .py-2 { padding: 10px 0; } .py-3 { padding: 20px 0; } .py-4 { padding: 30px 0; } .px-1 { padding: 0 15px; } .px-2 { padding: 0 30px; } .p-3 { padding: 30px; }
.my-2 { margin: 10px 0; } .my-4 { margin: 30px 0; } .ms-auto { margin-left: auto; } .m-auto { margin: 0 auto; } .mt-5 { margin-top: 50px; } .m-0 { margin: 0; } .mb-3 { margin-bottom: 30px; } .mb-1 { margin-bottom: 10px; }
.fs { font-family: var(--theme-font-style2); }
.bg-properties { background-position: center; background-repeat: no-repeat; background-size: cover; }
.bg-dark { background-color: var(--bg-color); }
.border-bottom-1 { border-bottom: 1px solid var(--bg-color); } .border-1 { border: 1px solid var(--theme-font-color); } .border-top-bottom { border-top: 1px solid var(--theme-font-color); border-bottom: 1px solid var(--theme-font-color); } 
.border-right-1 { border-right: 1px solid var(--theme-font-color); } .border-left-1 { border-left: 1px solid var(--theme-font-color); }
.w-25 { width: 25%; } .w-50 { width: 50%; } .w-75 { width: 75%; } .w-100 { width: 100%; }
.fs-6 { font-size: 13px; } .fs-7 { font-size: 15px; } .fs-5 { font-size: 24px; } .fs-4 { font-size: 32px; } .fs-3 { font-size: 40px; } .fs-2 { font-size: 50px; } .fs-1 { font-size: 60px; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
.text-center { text-align: center; }
.text-end { text-align: end; }
.fw-regular { font-weight: normal; } .fw-600 { font-weight: 600; } .fw-400 { font-weight: 400; } .fw-800 { font-weight: 800; } .fw-900 { font-weight: 900; }
.theme-txt-color { color: var(--theme-white); }
.theme-txt-green { color: var(--theme-font-color); }
.d-inline-block { display: inline-block; }
.fill-green { fill: var(--theme-color-green); }
.lh-base { line-height: 1.5; }
.logo-invert{ filter: invert(1); }

/* ================================ MAIN ============================== */

.main { background-image: url('../images/banner.jpg'); }
.header { padding: 0 0; transition: all 0.5s ease-in-out; }
.sticky { position: fixed; z-index: 20; width: 100%; top: 0; background-color: black; }
.logo-list li:not(:last-child) { border-right: 1px solid white; }
.nav-list li:not(:last-child) { padding: 0 14px; }
.btn-default { background-color: var(--theme-color-dark-grey); padding: 8px 15px; }
.banner-section { padding: 200px 0; }
.sub-section { padding: 50px 0; }
.btn-primary { padding: 15px 35px; background-color: var(--theme-color-green); }
.btn-secondary { padding: 12px 28px; background-color: var(--theme-color-dark-grey); }
.headline { position: relative; }
.headline::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 0.5px;
    width: 15%;
    background-color: var(--theme-font-color);
    left: 0;
    right: 0;
    margin: auto;
}
.icon-size {  height: 50px; max-width: 50px; object-fit: fill; }
.mobile-section { padding-top: 50px; }
.test-section { padding: 100px 0; }
.map-section { background: #eef1ec url(../images/map.png) no-repeat right center; padding: 170px 0; }
.card-list li:not(:last-child) { margin-bottom: 10px; }
.contact-section { padding-bottom: 100px; }
.contact-banner { background-image: url(../images/contact_banner.jpg); padding: 80px 0; }
.footer-section { padding: 80px 0; }
.foot-list li:not(:last-child) { margin-bottom: 10px; }
.news-input {
    padding: 10px;
    background: #eef1ec url(../images/inpu_icon.png) no-repeat 94% center;
    border: 1px solid var(--theme-color-green);
    width: 100%;
}
.news-input::placeholder { font-family: var(--theme-font-style2); }
.foot-section { border-top: 1px solid var(--theme-color-green); padding: 20px 0; }
.social-list li:not(:last-child) { margin-right: 10px;}
.icon-box { background-color: black; color: white; border-radius: 50%; }